@charset "UTF-8";

body {
    background-color: lemonchiffon;
}
header, section {
    background-color: peachpuff;
}

nav {
    float: left;
}
h {
    margin-top: 5px;
    margin-bottom: 5px;
}


#char-info{
    list-style-type: none;
}

li{
    float: left;
}
#info {
    float: left;
    margin: 10px;
}

#movie {
    float: none;
    
}
