<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Spring Boot 3</title>
    </head>
    <body>
        <div th:replace="~{/layout/fragments :: pageHeader('부서 상세 페이지')}"></div>
        
        <main>
            <table>
                <thead>
                    <tr>
                        <th>부서 번호</th>
                        <th>부서 이름</th>
                        <th>지역</th>
                        <th>매니저</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:object="${dept}">
                        <td th:text="*{id}"></td>
                        <td><a th:text="*{departmentName}" th:href="@{/department/details/{id}(id=*{id})}"></a></td>
                        <td><a th:text="*{location.state}" th:href="@{/location/details/{id}(id=*{location.id})}"></a></td>
                        <td>
                            <th:block th:if="*{manager != null}">
                                <a th:text="*{manager.firstName}" th:href="@{/employee/details/{id}(id=*{manager.id})}"></a>
                            </th:block>
                        </td>
                    </tr>
                </tbody>
            </table>
        
        </main>
    </body>
</html>