<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
	</head>
	<body>
		<th:block th:replace="~{/layout/fragments :: pageHeader('NEW POST')}"></th:block>
        <main>
            <div class="card ">
                <div class="card-head text-center">
                    <h1>새 글 작성</h1>
                </div>
                <div class="card-body">
                    <form method="post" th:action="@{/post/create}">
                        <div class = "mt-2">
                            <label class="form-label" for="title">제목</label>
                            <input class="form-control" type="text" name="title" id="title" placeholder="제목 입력" required autofocus/>
                        </div>
                        <div class = "mt-2">
                            <label class="form-label" for="content">내용</label>
                            <textarea class="form-control" rows="5" name="content" id="content" placeholder="내용 입력" required></textarea>
                        </div>
                        <div class = "mt-2">
                            <label class="form-label" for="author">작성자</label>
                            <input class="form-control" type="text" name="author" id="author" placeholder="작성자 입력" required/>
                        </div>
                        <div class = "mt-2">
                            <input class="form-control btn btn-outline-success" type="submit" value="저장" />
                        </div>
                    </form>
                </div>
                
            </div>
        </main>
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
	</body>
</html>