<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    </head>
    <body>
        <th:block th:replace="~{/layout/fragments :: pageHeader('post details')}"></th:block>
        
        <div class="card">
            <div class="card-header">
                <h2>포스트 상세보기</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class = "mt-2">
                        <label class="form-label" for="title">글 번호</label>
                        <input type="text" class="form-control" id="id" th:value="${post.id}" readonly/>
                    </div>
                    <div class = "mt-2">
                        <label class="form-label" for="title">제목</label>
                        <input type="text" class="form-control" id="title" th:value="${post.title}" readonly/>
                    </div>
                    <div class = "mt-2">
                        <label class="form-label" for="content">내용</label>
                        <textarea class="form-control" rows="5" name="content" id="content" readonly th:text="${post.content}" ></textarea>
                    </div>
                    <div class = "mt-2">
                        <label class="form-label" for="createdTime">작성 시간</label>
                        <input class="form-control" name="createdTime" id="createdTime" readonly  th:value="${#temporals.format(post.createdTime, 'yyyy-mm-dd hh:mm:ss')}"/>
                    </div>
                    <div class = "mt-2">
                        <label class="form-label" for="modifiedTime">수정 시간</label>
                        <input class="form-control" name="modifiedTime" id="modifiedTime"  th:value="${post.modifiedTime}" readonly/>
                    </div>
                    <div class = "mt-2">
                        <label class="form-label" for="author">작성자</label>
                        <input class="form-control" name="author" id="author"  th:value="${post.author}" readonly/>
                    </div>
                </form>
                
                <div class="mt-2">
                    <a class="btn btn-success form-control" th:href="@{/post/modify(id=${post.id})}">수정하기</a>
                </div>
            </div>
        
        </div>
        
        
        <!-- 댓글 작성/목록 Collapse -->
        <div class="card mt-2">
            <div class="card-header">
                <button class="btn btn-outline-secondary" id="btnToggle"
                    data-toggle="collapse">댓글 보기</button>
            </div>
            <div class="card-body collapse" id="collapseComments">
                <!-- 댓글 작성 -->
                <div class="row">
                    <div class="col-10">
                        <textarea class="form-control" id="commentText" rows="3" placeholder="댓글 내용 작성"></textarea>
                        
                        <!-- TODO: 로그인 사용자 이름으로 설정 -->
                        <input class="d-none" id="commentWriter" value="admin" readonly>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-success form-control" id="btnRegisterComment"  >등록</button>
                    </div>
                </div>
                
                <!-- 댓글 목록 -->
                <div class="mt-2" id="divComments"></div>
                
                <!-- 댓글 목록 페이징 처리를 위한 버튼 -->
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-info mt-2" id="btnMore">더보기</button>
                </div>
                
                
            </div>
        </div>
        
        <!-- BootStrap JS -->
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
        
        <!-- Ajax를 사용하기 위한 Axios JS library -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        
        <!-- 댓글 기능을 위한 자바 스크립트 -->
        <script th:src="@{/js/comments.js}"></script>
    </body>
</html>