<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    </head>
    <body>
        <th:block th:replace="~{/layout/fragments :: pageHeader('post modify')}"></th:block>
        
        <div class="card">
            <div class="card-header">
                <h2>포스트 수정하기</h2>
            </div>
            <div class="card-body" th:object="${post}">
                <form id="updateForm" method="post" th:action="@{/post/update}">
                    <div class = "mt-2 d-none">
                        <label class="form-label" for="title">글 번호</label>
                        <input type="text" class="form-control" name="id" id="id" th:value="*{id}" readonly/>
                    </div>
                    <div class = "mt-2">
                        <label class="form-label" for="title">제목</label>
                        <input type="text" class="form-control" name="title" id="title" th:value="*{title}" autofocus />
                    </div>
                    <div class = "mt-2">
                        <label class="form-label" for="content">내용</label>
                        <textarea class="form-control" rows="5" name="content" id="content" th:text="*{content}" ></textarea>
                    </div>
                    <div class = "mt-2">
                        <label class="form-label" for="createdTime">작성 시간</label>
                        <input class="form-control" name="createdTime" id="createdTime"  th:value="*{#temporals.format(createdTime, 'yyyy-mm-dd hh:mm:ss')}" readonly/>
                    </div>
                    <div class = "mt-2">
                        <label class="form-label" for="modifiedTime">수정 시간</label>
                        <input class="form-control" name="modifiedTime" id="modifiedTime"  th:value="*{modifiedTime}" readonly/>
                    </div>
                    <div class = "mt-2 d-none">
                        <label class="form-label" for="author">작성자</label>
                        <input class="form-control" name="author" id="author"  th:value="*{author}" readonly/>
                    </div>
                </form>
                
                <div class="mt-2  d-flex justify-content-end">
                    <button class="btn btn-outline-danger " id="btnDelete">삭제하기</button>
                    
                    <button class="btn btn-outline-success " id="btnUpdate">수정완료</button>
                </div>
            </div>
        
        </div>
        
        
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
        <script th:src="@{/js/post-modify.js}"></script>
    </body>
</html>