<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Spring Boot 2</title>
    </head>
    <body>
        <div th:replace="~{/layout/fragments :: pageHeader('부서 목록 페이지')}"></div>
        
        <main>
            <table>
                <thead>
                    <tr>
                        <th>부서 번호</th>
                        <th>부서 이름</th>
                        <th>지역</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dept : ${departments}" th:object="${dept}">
                        <td th:text="*{id}"></td>
                        <td><a th:text="*{departmentname}" th:href="@{/department/detail(deptId=*{id})}"></a></td>
                        <td th:text="*{location}"></td>
                    </tr>
                </tbody>
            </table>
        
        </main>
    </body>
</html>